@tailwind base;
@tailwind components;
@tailwind utilities;

/* Develop here */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexStart{
  display: flex;
  align-items: center;
  justify-content: start;
}